#f {
    display: flex;
    justify-content: space-between;
    border: black 2px solid;
    padding: 20px;
    background-color: rgba(245, 245, 220, 0.8);
    
}

#save {
    margin-bottom: auto;
    margin-top: auto;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(82,80,82,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(82,80,82,1);
box-shadow: 6px 7px 5px 0px rgba(82,80,82,1);
}